<div class="toolbar">
  
  <div class="toolbar-topline">
    <button md-button class="window-control minimize-button" (click)="minimizeWindow()">
      <md-icon>keyboard_arrow_down</md-icon>
    </button>
    <button md-button class="window-control maximize-button" (click)="maximizeWindow()">
      <md-icon>keyboard_arrow_up</md-icon>
    </button>
    <button md-button class="window-control close-button" (click)="closeWindow()">
      <md-icon>close</md-icon>
    </button>
  </div>

  <div class="toolbar-content">

    <div class="login-image" [hidden]="logued">
        <h1>Login</h1>
    </div>

    <div class="filter-bar" [hidden]="!logued">

      <md-input class="toolbar-search" type="text" placeholder="Search by name"
        [(ngModel)]="search"
        (change)="filterByText()">
      </md-input>

      <button md-button class="md-icon-button button-clear" [hidden]="search===''" (click)="search='';filterByText('')">
        <md-icon>clear</md-icon>
      </button>
      
      <div class="spacer"></div>

      <md-radio-group [(ngModel)]="sort_by" (change)="sortChanged($event.value)">
        <md-radio-button value="date">Recent</md-radio-button>
        <md-radio-button value="name">A-Z</md-radio-button>
        <md-radio-button value="number">#</md-radio-button>
        <md-radio-button value="cp">CP</md-radio-button>
        <md-radio-button value="iv">IV</md-radio-button>
      </md-radio-group>

      <div class="spacer"></div>

      <div class="toolbar-buttons">
        <button md-button class="md-icon-button" (click)="refresh()">
          <md-icon>refresh</md-icon>
        </button>

        <button md-button class="md-icon-button" (click)="logout()">
          <md-icon>exit_to_app</md-icon>
        </button>
      </div>
    </div>



  </div>
</div>