::host {
  overflow: hidden;
}

.toolbar {
  padding: 0px;
  min-height: 90px;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #424242;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.toolbar-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.toolbar-topline {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  min-height: 20px;
  height: 20px;
  width: 100%;
  min-height: 20px;
  border-bottom: 1px solid #424242;
  background: firebrick;
  cursor: move;
  
  button {
    -webkit-app-region: no-drag;
  }
}

.window-control {
  position: absolute;
  height: 20px;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  background: firebrick;
  color: white;
  min-width: 40px;
  
  &:hover {
    background: darkred
  }
}

.window-control md-icon {
  font-size: 18px;
  height: 20px;
  width: 20px;
}

.close-button {
  top: 0px;
  right: 0px;
}

.maximize-button {
  top: 0px;
  right: 40px;
}

.minimize-button {
  top: 0px;
  right: 80px;
  border-bottom-left-radius: 4px;
}

.login-image {
  height: 70px;
  text-align: center;
  align-items: center;

  img {
    height: 70px;
  }
}

md-radio-button {
    margin: 10px;
}

.toolbar-buttons {
  max-width: 100px;
  display: flex;

  button {
    min-width: 28;
    margin: 4px;
    padding: 0px 2px;
  }
}

.toolbar-search {
  display: flex;
  flex-basis: 125px;
  margin-left: 20px;
}

.filter-bar {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.spacer {
  display: flex;
  flex: 1;
}

.button-clear {
  min-width: 28;
  margin: 4px;
  padding: 0px 2px;
}