
<md-card class="login-card">
  <form class="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <md-input #email
              required
              type="email"
              name="email"
              placeholder="Email Address"
              [(ngModel)]="user.email">
    </md-input>
    <md-input #password
              required
              type="password"
              name="password"
              placeholder="Password"
              [(ngModel)]="user.password">
    </md-input>
    <button md-raised-button class="login-button" type="submit" [disabled]="!loginForm.form.valid">Login</button>
  </form>
</md-card>
